.App {
  height: 100%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .App {
    display: flex;
    flex-flow: row-reverse;
    .control-wrapper {
      flex: 1;
      max-width: 500px;
    }
  }
}
